<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
      explicabo sapiente, unde voluptates necessitatibus tempore debitis libero
      nisi! Dolor, rerum?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
        assumenda?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
      explicabo sapiente, unde voluptates necessitatibus tempore debitis libero
      nisi! Dolor, rerum?
    </p>
  </div>
</section>
