<button class="btn btn--primary btn--block">Buy now</button>
<button class="btn btn--secondary btn--block">Buy now</button>
<button class="btn btn--accent btn--block">Buy now</button>
<button class="btn btn--primary btn--block btn--outline">Buy now</button>
