<div class="media">
  <div class="media_image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus
      sapiente quos corrupti obcaecati optio quasi, nobis minima aperiam aliquid
      dolorum?
    </p>
  </div>
</div>
