<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem esse nemo
    aperiam eligendi, natus pariatur ea cum placeat maxime praesentium!
  </p>
  <footer>
    <div class="media">
      <div class="media_image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ACME Corporation</p>
      </div>
    </div>
  </footer>
</blockquote>
